@import url("./variables.css");
@import url("./reset.css");

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#santa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

button {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: var(--dark-red);
  color: var(--orange);
  border: none;
  border-radius: 0.5rem;
  border: solid 2px var(--orange);
  cursor: pointer;
  transition: background 0.3s;
  width: 200px;
}

button:hover {
  background-color: var(--orange);
  color: var(--dark-red);
  border: solid 2px var(--dark-red);
}

button:disabled {
  opacity: 0.7;
  background-color: var(--dark-red);
  color: var(--orange);
  border: 2px solid var(--orange);
  cursor: not-allowed;
}

#reveal {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--red);
  font-weight: bold;
}
