@import url("./variables.css");
@import url("./reset.css");

body {
  background-color: var(--black);
}

h1 {
  text-align: center;
  color: var(--orange);
  text-shadow: 0 0 10px var(--orange), 0 0 20px var(--red);
  font-family: "Nixie One", cursive;
  margin-top: 40px;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  border-bottom: solid 2px var(--orange);
}

.mobile-header i {
  font-size: 1.9rem;
  color: var(--orange);
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked + nav {
  display: block;
}

header {
  position: relative;
  font-size: 1.5rem;
}

nav {
  position: absolute;
  background: var(--black);
  border: solid 1px var(--orange);
  width: 100%;
  left: 0px;
  top: 50px;
  z-index: 10;
}

nav a {
  display: block;
  color: var(--orange);
  border: solid 1px var(--orange);
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Nixie One", cursive;
  font-size: 1.2rem
}

nav a:hover,
nav a:checked {
  text-decoration: underline;
  background-color: var(--orange);
  color: var(--black);
}

.xmas-img {
  display: flex;
  width: calc(100% - 40px);
  margin: 0 auto;
  border: solid 2px var(--orange);
}

.find-out-who {
  display: flex;
  justify-content: center;
  color: var(--orange);
}

.copyright {
  color: var(--orange);
  font-size: 0.8rem;
  padding-bottom: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
